
<div ng-controller="PageCtrl">
  <div id="about" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background-about">
    <div class="centered darkenBox">
      <div class="container">
        <div class="row darkenBox">
          <div class="row">
            <div class="span4">
              <h1>czym jest Jinkubator?</h1>
              <p>Są to cykliczne spotkania dla początkujących programistów Javy. Odbywają się one<b> w budynku Wydziału MIMUW na ulicy Banacha 2 w Warszawie, w godzinach 18:15-20:15.</b></p>
            </div>
            <div class="span4">
              <h1>dla kogo?</h1>
              <p>Dla wszystkich początkujących. W szczególności tych, którzy potrafią już napisać prostą aplikację w Javie, nie boją się pojęć polimorfizm i dziedziczenie, jednak nie znają technologii, bibliotek i okolic Javy. Dla wszystkich, którzy chcą tworzyć <b>dobry </b>kod.</p>
            </div>
            <div class="span4">
              <h1>chcesz zostać prelegentem?</h1>
              <p>To świetnie! Ciągle poszukujemy prelegentów na nadchodzące spotkania. Jeżeli czujesz się na siłach to  <a href="#/prelegents">tutaj </a>są szczegóły. </p>
            </div>
          </div>
          <div class="row">
            <div class="span6">
              <h1>kim jesteśmy</h1>
              <p>Jesteśmy inicjatywą stworzoną i prowadzoną przez <a href="http://www.warszawa.jug.pl">Warszawa JUG</a> specjalnie dla osób, które nie zebrały jeszcze dużego doświadczenia w Javie, a chciałyby mieć łatwiejszy start na rynku pracy lub po prostu poznać aktualnie używane technologie w trochę szerszym kontekście. Jeżeli tylko spodobał Ci się temat najbliższego spotkania to zapraszamy!</p>
            </div>
            <div class="span6">
              <h1>najbliższe spotkanie</h1>
              <h3> </h3><a href="#/meeting/3">3. GIT - krok po kroku</a> - Michał Lewandowski
              <p>Termin: 26.11.2013 godz. 18:15, Lokalizacja: MIMUW, Sponsor: brak</p>
            </div>
          </div>
        </div>
        <div class="row fixedHeight"></div>
        <div class="row darkenBox">     
          <div class="row otherLogos">
            <div class="span4">
              <h1>chcesz więcej?</h1>
              <div class="row">
                <div class="span2"><a href="http://warszawa.jug.pl" target="_blank"><img src="img/partners/wjug.png"/></a></div>
              </div>
            </div>
            <div class="span7">
              <h1>nie tylko java?</h1>
              <div class="row">
                <div class="span3"><a href="http://pywaw.org" target="_blank"><img src="img/partners/otherGroups/pywaw.png" class="otherLogo"/></a></div>
                <div class="span3"><a href="http://agilewarsaw.com" target="_blank"><img src="img/partners/otherGroups/agile_warsaw.png" class="otherLogo"/></a></div>
              </div>
              <div class="row">
                <div class="span3"><a href="http://scalania.pl" target="_blank" id="scalania" class="text-center">Scalania</a></div>
                <div class="span3"><a href="http://mobile-warsaw.pl" target="_blank"><img src="img/partners/otherGroups/mobile_warsaw.png"/></a></div>
              </div>
            </div>
          </div>
          <div class="row otherLogos">
            <div class="span11">
              <h1>nadchodzące konferencje i warsztaty</h1>
              <div class="row">
                <div class="span3"><a href="http://v2.gitkata.pl" target="_blank"><img src="img/partners/conferences/git_kata.png" class="otherLogo"/></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="meetings" scroll-spy="scroll-spy" page="1" class="section background-meetings">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>spotkania</h1>
            <p>Aby być na bieżąco, zasubskrybuj<a href="http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com"> kalendarz</a> (wspólny z warszawskim JUGiem).</p>
            <h3>Przed nami:</h3>
            <p>26.11.2013 - <a href="#/meeting/3">3. GIT - krok po kroku</a> -  Michał Lewandowski</p>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h3>Za nami:</h3>
            <p>12.11.2013 - <a href="#/meeting/2">2. Podstawy warsztatu projektowego</a> - <a href="#/prelegents/adam_chudzik">Adam Chudzik </a></p>
            <p>29.10.2013 - <a href="#/meeting/1">1. Łagodne wprowadzenie do Mavena</a> - <a href="#/prelegents/arkadiusz_konior">Arkadiusz Konior</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cooperation" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background-cooperation">
    <div class="centered darkenBox">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Współpraca</h1>
            <p> Podobnie jak w przypadku regularnych spotkań grupy WJUG istnieje możliwość sponsorowania spotkania. W przypadku chęci współpracy w innej formie zachęcamy do zapoznania się z informacją na <a href="http://www.warszawa.jug.pl/#/cooperation">stronie WJUG</a>.</p>
            <h2>sponsorowanie spotkania</h2>
            <p>Przewidujemy możliwość prezentacji firmy-sponsora zainteresowanego reklamą siebie, np. w celach rekrutacyjnych, przy otwarciu spotkania.  Sądzimy, że krótkie wprowadzenie o obszarach działalności firmy i jej oczekiwaniach rynkowych oraz ofert pracy znacząco zwiększa możliwości pozyskania wartościowych pracowników.</p>
            <p>Zakładamy czas 10 minut, który w naszej ocenie jest wystarczający, aby przekazać właściwą dawkę wiedzy nt. firmy przy jednoczesnym utrzymaniu zainteresowania słuchaczy (którzy przede wszystkim przychodzą na spotkanie techniczne i mogliby źle wspominać je wyłącznie po przedłużającym się wstępie firmy).</p>
            <p>Samo otwarcie spotkania jest częścią "pakietu" sponsorskiego. Udział sponsora jest ponadto nagradzany umieszczeniem jego logo i linka do strony domowej sponsora przy zapowiedzi spotkania, wliczając w to późniejsze archiwum spotkań.</p>
            <p>Istnieje również możliwość rozdania ulotek firmowych sponsora podczas spotkania.</p>
            <p>Zwracamy uwagę na tzw. "gęstość informacji". Z przyjemnością poświęcimy kilkanaście minut, żeby dowiedzieć się, czy w danej firmie warto pracować. Nie interesują nas roczne obroty firmy, ale czy ta informacja przekłada sie jakkolwiek na warunki pracy? Ważne są stawki, nadgodziny, czy w okolicy jest dobre jedzenie, czy w godzinach pracy mogę pójść do lekarza lub odebrac dziecko z przedszkola, jaki jest "WTF factor", narzędzia i metodologia pracy, czy mogę pracować z domu, ścieżka kariery, itp.</p>
            <p>Zachęcamy do delegowania osób technicznych na nasze spotkania z czasem wystąpienia nie przekraczającym 10 minut.</p>
            <p>W związku z tym, że nasze spotkania mają dość dobrze określoną grupę docelową prosimy o dostosowanie do niej zarówno ofert jak i sposobu ich prezentacji na początku spotkania.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="partners" scroll-spy="scroll-spy" page="1" class="section background-partners">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Partnerzy grupy</h1>
          </div>
        </div>
        <div class="row">
          <!--naukowi-->
          <div class="span5">
            <p><img src="img/partners/mimuw-logo.png" width="200"/></p>
          </div>
          <!--licencje-->
          <div class="span5"></div>
        </div>
      </div>
    </div>
  </div>
</div>