
<ul>
  <li ng-class="getClass('/about')"><a ng-href="#/about">o jinkubatorze</a></li>
  <li ng-class="getClass('/meetings')"><a ng-href="#/meetings">spotkania</a></li>
  <li ng-class="getClass('/cooperation')"><a ng-href="#/cooperation">współpraca</a></li>
  <li ng-class="getClass('/partners')"><a ng-href="#/partners">partnerzy</a></li>
  <li ng-class="getClass('/prelegents')"><a ng-href="#/prelegents">prelegenci</a></li>
  <li ng-class="getClass('http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com')"><a ng-href="http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com">kalendarz</a></li>
  <li ng-class="getClass('http://groups.google.com/group/jinkubator-admin/post?sendowner=1&amp;hl=pl&amp;pli=1')"><a ng-href="http://groups.google.com/group/jinkubator-admin/post?sendowner=1&amp;hl=pl&amp;pli=1">kontakt</a></li>
</ul>