
<div ng-controller="PageCtrl">
  <div id="top" page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div id="top" class="span12">
            <h1>Prelegenci</h1>
            <h3>Zostań prelegentem</h3>
            <h3>Dotychczas wystąpili</h3>
            <p>Tu wkrótce pojawią się informacje o naszych prelegentach</p>
            <!--#{id}.section.span11-->
            <!--    h4 {imie i nazwisko}-->
            <!--    include prelegent/{id}-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>