
<div ng-controller="PageCtrl">
  <div id="top" page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div id="top" class="span12">
            <h1>Prelegenci</h1>
            <h2>Zostań prelegentem</h2>
            <p>Jeżeli masz ochotę pokazać coś trochę mniej doświadczonym programistom to zachęcamy do zgłaszania tematów w <a href="https://docs.google.com/forms/d/1Zt_ws-STBfDESwI1rzhBmKcbWPQnGtsvRnIksESl2BI/viewform">formularzu</a>.</p>
            <p>Preferowane przez nas tematy kręcą się wokół Javy - bibliotek frameworków. W szczególności:
              <ul>
                <li><span>popularne technologie i biblioteki związane z Javą</span></li>
                <li><span>dobre praktyki programistyczne</span></li>
                <li><span>zaawansowane zagadnienia Javy (refleksja, adnotacje, typy generyczne)</span></li>
                <li><span>dobre środowisko programistyczne - używanie IDE, maven/gradle, continous integration, system kontroli wersji</span></li>
                <li><span>testowanie oprogramowania</span></li>
                <li><span>“okolice" programowania - planowanie kariery, możliwe ścieżki rozwoju itp.</span></li>
              </ul>
            </p>
            <div class="fixedHeight"></div>
            <h2>Dotychczas wystąpili</h2>
                        <div id="arkadiusz_konior" class="row section">
                          <div class="span2"><img src="img/prelegent/arkadiusz_konior.jpg" alt=""/></div>
                          <div class="span9">
                            <h3>Arkadiusz Konior</h3>
                            <p>Z wykształcenia matematyk, obecnie programista Groovy z 7-letnim doświadczeniem w Javowych technologiach. Przekonany i stosujący się do zasad TDD. Obecnie pracuje nad open-sourcowym, opartym o gradle, build systemem dla aplikacji mobilnych. Zawodowo związany z firmą Polidea. Na tegorocznej Warsjawie prowadził szkolenie z gradle.</p>
                            <h4>Poprowadzone spotkania</h4>
                            <ul> 
                              <li><a href="#/meeting/1">1. Łagodne wprowadzenie do Maven</a></li>
                            </ul>
                          </div>
                        </div>
                        <div id="adam_chudzik" class="row section">
                          <div class="span2"><img src="img/prelegent/adam_chudzik.jpg" alt=""/></div>
                          <div class="span9">
                            <h3>Adam Chudzik</h3>
                            <p>Adam Chudzik jest pracownikiem Działu Sieci Komputerowych (DSK) Uniwersytetu Warszawskiego. Za dnia dłubie w Javie, po zmroku nad (jak ma nadzieję) Kolejną-Wielką-Rzeczą!:) Adept Agile i Software Craftsmanship.</p>
                            <h4>Poprowadzone spotkania</h4>
                            <ul> 
                              <li><a href="#/meeting/2">2. Podstawy warsztatu projektowego</a></li>
                            </ul>
                          </div>
                        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>