//Section backgrounds

.background-about {
  //background-image: url("../img/tlo.png");
  //background-image: url("../img/tlo4.jpg");
  background-image: url("../img/tlo13.jpg");
  color: @grayLighter;
}
.background-meetings {}

.background-sponsors {
  background-image: url("../img/tlo8.jpg");
  color: @grayLighter;
}

.background-partners {}