//Section backgrounds

.background-about {
  background-image: url("../img/road_sun.jpg");
  color: @grayLighter;
}
.background-meetings {}

.background-cooperation {
  background-image: url("../img/road_field.jpg");
  color: @grayLighter;
}

.background-partners {}

.background-prelegents-top {}
