div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 1 Spotkanie
                        h2 {temat}
                        h3 {prelegent}
                        p Termin: {termin}
                        p Lokalizacja: {lokalizacja}
                        h3 O prezentacji:
                        p 
                        | {opis prezentacji}
                        h3 O prelegencie:
                        p
                        | {opis prelegenta}

