div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 1 Spotkanie
                        h2 Łagodne wprowadzenie do Maven
                        h3 Arkadiusz Konior
                        p Termin: 29.10.2013
                        p Lokalizacja: s. 3180 MIMUW
                        h3 O prezentacji:
                        p 
                        | Opowiem o tym czym jest maven, jak go zainstalować i używać. Pokażę jak kompilować, testować i budować projekty javowe przy użyciu mavena. Omówię budowę pliku pom.xml, cykl życia, opis i mechanizm zależności (group, artifact, version, classifier), ściąganie zależności i przechowywanie ich na dysku. Ponadto będzie można posłuchać o strukturze katalogowej projektu, lokalnych i zdalnych repozytoriach, archetypach, profilach i pluginach (dodawanie, konfiguracja).
                        h3 O prelegencie:
                        include ../prelegent/arkadiusz_konior

