div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 2 Spotkanie
                        h2 Podstawy warsztatu projektowego
                        h3 Adam Chudzik
                        p Termin: 12.11.2013
                        p Lokalizacja: s. 5440 MIMUW
                        h3 O prezentacji:
                        p Jako świeży deweloper trafiasz do nowego projektu i poza istniejącym kodem spada na Ciebie grad nazw, o których nikt nie wspominał na studiach:
                            ul
                                li
                                    | git
                                li
                                    | gerrit
                                li 
                                    | maven
                                li 
                                    | Jenkins
                        p Na tej prezentacji postaram się oswoić powyższe pojęcia, pokazać podstawy pracy z współczesnym tymi narzędziami i rozwiązania dla typowych na początku problemów.
                        h3 O prelegencie:
                        include ../prelegent/adam_chudzik

