div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 3 Spotkanie
                        h3 GIT - krok po kroku
                        h3 Michał Lewandowski
                        p Termin: 26.11.2013, 18:15
                        p Lokalizacja: MIMUW
                        h3 O prezentacji:
                        p 
                        | Bez systemu kontroli wersji ciężko dzisiaj pracować. Na tym spotkaniu JInkubatora przedstawię jeden z kilku systemów kontroli wersji jakim jest git. Będzie to warsztat w stylu od zera do bohatera. Zaczniemy od narzędzi jakie przydają się podczas pracy z git'em, następnie przejdziemy przez podstawowe operacje i dojdziemy do troszeczkę zawansowanych czynności, a zakończymy na git flow.
                        
                        p Warsztat będzie się składał z kroków:
                            ul
                                li
                                    | tools
                                li
                                    | init
                                li
                                    | local add, commit
                                li
                                    | what add means ?
                                li
                                    | git interlnals
                                li
                                    | git show
                                li
                                    | shortcuts
                                li
                                    | amend
                                li
                                    | unstage
                                li
                                    | unmodifing
                                li
                                    | tag
                                li
                                    | stash
                                li
                                    | bare repo
                                li
                                    | remotes
                                li
                                    | clone
                                li
                                    | branch
                                li
                                    | merge
                                li
                                    | diff
                                li
                                    | clean-up
                                li
                                    | fetch
                                li
                                    | rebase
                                li
                                    | configs
                                li
                                    | ignores
                                li
                                    | reflogs
                                li
                                    | interactive-rebase
                                li
                                    | bisect
                                li
                                    | revert
                                li
                                    | cherry-pick
                                li
                                    | gitflow

                        h3 O prelegencie:
                        include ../prelegent/michal_lewandowski

