div(ng-controller="PageCtrl")
    #top.section(page='1')
        .centered
            .container
                .row
                    #top.span12
                        h1 Prelegenci
                        h2 Zostań prelegentem
                        p Jeżeli masz ochotę pokazać coś trochę mniej doświadczonym programistom to zachęcamy do zgłaszania tematów w 
                            a(href="https://docs.google.com/forms/d/1Zt_ws-STBfDESwI1rzhBmKcbWPQnGtsvRnIksESl2BI/viewform") formularzu
                            | . Na zaproponowane tam tematy odpisujemy układając agendy kolejnych spotkań, więc prosimy nie przejmuj się, gdy przez jakiś czas nie odpowiadamy na zamieszczane tam tematy - my naprawdę o nich pamiętamy :).
                        p Preferowane przez nas tematy kręcą się wokół Javy - bibliotek frameworków. W szczególności:
                            ul
                                li: span popularne technologie i biblioteki związane z Javą
                                li: span dobre praktyki programistyczne
                                li: span zaawansowane zagadnienia Javy (refleksja, adnotacje, typy generyczne)
                                li: span dobre środowisko programistyczne - używanie IDE, maven/gradle, continous integration, system kontroli wersji
                                li: span testowanie oprogramowania
                                li: span “okolice" programowania - planowanie kariery, możliwe ścieżki rozwoju itp.
                  
                        div.fixedHeight
                        h2 Dotychczas wystąpili

                        mixin prelegent(name, id)
                            div.row.section(id=id)
                                .span2
                                    img(src='img/prelegent/'+id+'.jpg', alt='')
                                .span9
                                    h3= name
                                    block
                        

                        +prelegent("Arkadiusz Konior", "arkadiusz_konior")
                            include prelegent/arkadiusz_konior
                            h4 Poprowadzone spotkania
                            include prelegent_meetings/arkadiusz_konior

                        +prelegent("Adam Chudzik", "adam_chudzik")
                            include prelegent/adam_chudzik
                            h4 Poprowadzone spotkania
                            include prelegent_meetings/adam_chudzik

                        //-+prelegent("Michał Lewandowski", "michal_lewandowski")
                        //-    include prelegent/michal_lewandowski
                        //-    h4 Poprowadzone spotkania
                        //-    include prelegent_meetings/michal_lewandowski
