div(ng-controller="PageCtrl")
    #top.section(page='1')
        .centered
            .container
                .row
                    #top.span12
                        h1 Prelegenci
                        h3 Zostań prelegentem
                        
                        h3 Dotychczas wystąpili
                        p Tu wkrótce pojawią się informacje o naszych prelegentach
                        //#{id}.section.span11
                        //    h4 {imie i nazwisko}
                        //    include prelegent/{id}
