p Z wykształcenia matematyk, obecnie programista Groovy z 7-letnim doświadczeniem w Javowych technologiach. Przekonany i stosujący się do zasad TDD. Obecnie pracuje nad open-sourcowym, opartym o gradle, build systemem dla aplikacji mobilnych. Zawodowo związany z firmą Polidea. Na tegorocznej Warsjawie prowadził szkolenie z gradle.

