
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>1 Spotkanie</h4>
            <h2>{subject}</h2>
            <h3>Ktoś Ktosiński</h3>
            <p>Termin: {date}</p>
            <p>Lokalizacja: {loc}</p>
            <h3>O prezentacji:</h3>
            <p> </p>{meeting_desc}
            <h3>O prelegencie:</h3>
            <p>Tu tekst o prelegencie</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>