
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>1 Spotkanie</h4>
            <h2>Łagodne wprowadzenie do Maven</h2>
            <h3>Arkadiusz Konior</h3>
            <p>Termin: 29.10.2013</p>
            <p>Lokalizacja: s. 3180 MIMUW</p>
            <h3>O prezentacji:</h3>
            <p> </p>Opowiem o tym czym jest maven, jak go zainstalować i używać. Pokażę jak kompilować, testować i budować projekty javowe przy użyciu mavena. Omówię budowę pliku pom.xml, cykl życia, opis i mechanizm zależności (group, artifact, version, classifier), ściąganie zależności i przechowywanie ich na dysku. Ponadto będzie można posłuchać o strukturze katalogowej projektu, lokalnych i zdalnych repozytoriach, archetypach, profilach i pluginach (dodawanie, konfiguracja).
            <h3>O prelegencie:</h3>
            <p>Z wykształcenia matematyk, obecnie programista Groovy z 7-letnim doświadczeniem w Javowych technologiach. Przekonany i stosujący się do zasad TDD. Obecnie pracuje nad open-sourcowym, opartym o gradle, build systemem dla aplikacji mobilnych. Zawodowo związany z firmą Polidea. Na tegorocznej Warsjawie prowadził szkolenie z gradle.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>