
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>2 Spotkanie</h4>
            <h2>TBA</h2>
            <h3>TBA</h3>
            <p>Termin: 12.11.2013</p>
            <p>Lokalizacja: s. 5440 MIMUW</p>
            <h3>O prezentacji:</h3>
            <p> </p>TBA
            <!--h3 O prelegencie:-->
            <!--include ../prelegent/{prelegent_id}-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>