
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>2 Spotkanie</h4>
            <h2>Podstawy warsztatu projektowego</h2>
            <h3>Adam Chudzik</h3>
            <p>Termin: 12.11.2013, 18:15</p>
            <p>Lokalizacja: s. 5440 MIMUW</p>
            <h3>O prezentacji:</h3>
            <p>Jako świeży deweloper trafiasz do nowego projektu i poza istniejącym kodem spada na Ciebie grad nazw, o których nikt nie wspominał na studiach:
              <ul>
                <li>git</li>
                <li>gerrit</li>
                <li>
                   
                  maven
                </li>
                <li>
                   
                  Jenkins
                </li>
              </ul>
            </p>
            <p>Na tej prezentacji postaram się oswoić powyższe pojęcia, pokazać podstawy pracy z współczesnym tymi narzędziami i rozwiązania dla typowych na początku problemów.</p>
            <h3>O prelegencie:</h3>
            <p>Adam Chudzik jest pracownikiem Działu Sieci Komputerowych (DSK) Uniwersytetu Warszawskiego. Za dnia dłubie w Javie, po zmroku nad (jak ma nadzieję) Kolejną-Wielką-Rzeczą!:) Adept Agile i Software Craftsmanship.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>