
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>{num} Spotkanie</h4>
            <h2>{temat}</h2>
            <h3>{prelegent}</h3>
            <p>Termin: {termin}</p>
            <p>Lokalizacja: {lokalizacja}</p>
            <h3>O prezentacji:</h3>
            <p> </p>{opis prezentacji}
            <h3>O prelegencie:</h3>
            <p></p>{opis prelegenta}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>