
<div id="about" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background-about">
  <div class="centered darkenBox">
    <div class="container">
      <div class="row darkenBox">
        <div class="row">
          <div class="span4">
            <h1>czym jest Jinkubator?</h1>
            <p>Są to cykliczne spotkania dla początkujących programistów Javy. Odbywają się one<b> w budynku Wydziału MIMUW na ulicy Banacha 2 w Warszawie, w godzinach 18:15-20:15.</b></p>
          </div>
          <div class="span4">
            <h1>dla kogo?</h1>
            <p>Dla wszystkich początkujących. W szczególności tych, którzy potrafią już napisać prostą aplikację w Javie, nie boją się pojęć polimorfizm i dziedziczenie, jednak nie znają technologii, bibliotek i okolic Javy. Dla wszystkich, którzy chcą tworzyć <b>dobry </b>kod.</p>
          </div>
          <div class="span4">
            <h1>chcesz zostać prelegentem?</h1>
            <p>To świetnie! Ciągle poszukujemy prelegentów na nadchodzące spotkania. Jeżeli czujesz się na siłach to  <a href="#/prelegents">tutaj </a>są szczegóły. </p>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <h1>kim jesteśmy</h1>
            <p>Jesteśmy inicjatywą stworzoną i prowadzoną przez <a href="http://www.warszawa.jug.pl">Warszawa JUG</a> specjalnie dla osób, które nie zebrały jeszcze dużego doświadczenia w Javie, a chciałyby mieć łatwiejszy start na rynku pracy lub po prostu poznać aktualnie używane technologie w trochę szerszym kontekście. Jeżeli tylko spodobał Ci się temat najbliższego spotkania to zapraszamy!</p>
          </div>
          <div class="span6">
            <h1>najbliższe spotkanie</h1>
            <h3>TBA</h3>
            <p>Termin: 12.11.2013 godz. 18:15, Lokalizacja: s.5440 MIMUW, Sponsor: brak</p>
          </div>
        </div>
      </div>
      <div class="row fixedHeight"></div>
      <div class="row darkenBox">     
        <div class="row otherLogos">
          <div class="span4">
            <h1>chcesz więcej?</h1>
            <div class="row">
              <div class="span2"><a href="http://warszawa.jug.pl" target="_blank"><img src="img/partners/wjug.png"/></a></div>
            </div>
          </div>
          <div class="span7">
            <h1>nie tylko java?</h1>
            <div class="row">
              <div class="span3"><a href="http://pywaw.org" target="_blank"><img src="img/partners/otherGroups/pywaw.png" class="otherLogo"/></a></div>
              <div class="span3"><a href="http://mobile-warsaw.pl" target="_blank"><img src="img/partners/otherGroups/mobile_warsaw.png"/></a></div>
            </div>
            <div class="row">
              <div class="span3"><a href="http://scalania.pl" target="_blank" id="scalania" class="text-center">Scalania</a></div>
            </div>
          </div>
        </div>
        <div class="row otherLogos">
          <div class="span11">
            <h1>nadchodzące konferencje i warsztaty</h1>
            <div class="row">
              <div class="span3"><a href="http://v2.gitkata.pl" target="_blank"><img src="img/partners/conferences/git_kata.png" class="otherLogo"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>