
<div id="about" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background-about">
  <div class="centered darkenBox">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h1>czym jest Jinkubator?</h1>
          <p>Są to cykliczne spotkania dla początkujących programistów Javy. Odbywają się one<b> w sali 5440 budynku Wydziału MIMUW na ulicy Banacha 2 w Warszawie, w godzinach 18:00-20:15.</b></p>
        </div>
        <div class="span4">
          <h1>dla kogo?</h1>
          <p>Dla wszystkich początkujących. W szczególności tych, którzy potrafią już napisać prostą aplikację w Javie, nie boją się pojęć polimorfizm i dziedziczenie, jednak nie znają technologii, bibliotek i okolic Javy. Dla wszystkich, którzy chcą tworzyć <b>dobry </b>kod.</p>
        </div>
        <div class="span4">
          <h1>chcesz zostać prelegentem?</h1>
          <p>To świetnie! Ciągle poszukujemy prelegentów na nadchodzące spotkania. Jeżeli czujesz się na siłach to  <a href="#/prelegents">tutaj </a>są szczegóły. </p>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h1>kim jesteśmy</h1>
          <p>Jesteśmy inicjatywą stworzoną i prowadzoną przez <a href="http://www.warszawa.jug.pl">Warszawa JUG</a>. .....tu coś więcej....</p>
        </div>
        <div class="span6">
          <h1>najbliższe spotkanie</h1>
          <h3>Spotkanie inauguracyjne</h3>
          <p>Termin: 15.10.2013 godz. 18:00, Lokalizacja: MIMUW, Sponsor: brak</p>
        </div>
      </div>
    </div>
  </div>
</div>