
<div id="meetings" scroll-spy="scroll-spy" page="1" class="section background-meetings">
  <div class="centered">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>spotkania</h1>
          <p>Aby być na bieżąco, zasubskrybuj nasz<a href=""> kalendarz - todo -kalendarz</a></p>
          <h3>Przed nami:</h3>
          <p>15.10.2013 <a href="#/meeting/1">Spotkanie inauguracyjne</a> - <a href="#/prelegents/ktos">Ktoś Ktosiński</a></p>
          <!--{next_meetings}-->
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <h3>Za nami:</h3>
          <p>Tu z czasem pojawią się spotkania, które już się odbyły</p>
        </div>
      </div>
    </div>
  </div>
</div>