
<div id="meetings" scroll-spy="scroll-spy" page="1" class="section background-meetings">
  <div class="centered">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>spotkania</h1>
          <p>Aby być na bieżąco, zasubskrybuj<a href="http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com"> kalendarz</a> (wspólny z warszawskim JUGiem).</p>
          <h3>Przed nami:</h3>
          <p>29.11.2013 - <a href="#/meeting/2">2. Podstawy warsztatu projektowego</a> - <a href="#/prelegents/adam_chudzik">Adam Chudzik</a></p>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <h3>Za nami:</h3>
          <p>29.10.2013 - <a href="#/meeting/1">1. Łagodne wprowadzenie do Mavena</a> - <a href="#/prelegents/arkadiusz_konior">Arkadiusz Konior</a></p>
        </div>
      </div>
    </div>
  </div>
</div>