
<div id="partners" scroll-spy="scroll-spy" page="1" class="section background-partners">
  <div class="centered">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>Partnerzy grupy</h1>
        </div>
      </div>
      <div class="row">
        <!--naukowi-->
        <div class="span5">
          <p><img src="img/partners/mimuw-logo.png" width="200"/></p>
        </div>
        <!--licencje-->
        <div class="span5"></div>
      </div>
    </div>
  </div>
</div>