#about.section.background-about(scroll-spy, parallax="0.3", page='1')
    .centered.darkenBox
        .container
            .row
                .span4
                    h1 czym jest Jinkubator?
                    p Są to cykliczne spotkania dla początkujących programistów Javy. Odbywają się one
                        b  w sali 5440 budynku Wydziału MIMUW na ulicy Banacha 2 w Warszawie, w godzinach 18:00-20:15.
                .span4
                    h1 dla kogo?
                    p Dla wszystkich początkujących. W szczególności tych, którzy potrafią już napisać prostą aplikację w Javie, nie boją się pojęć polimorfizm i dziedziczenie, jednak nie znają technologii, bibliotek i okolic Javy. Dla wszystkich, którzy chcą tworzyć 
                        b dobry 
                        | kod.
                .span4
                    h1 chcesz zostać prelegentem?
                    p To świetnie! Ciągle poszukujemy prelegentów na nadchodzące spotkania. Jeżeli czujesz się na siłach to  
                        a(href="#/prelegents") tutaj 
                        | są szczegóły. 
            .row
                .span6
                    h1 kim jesteśmy
                    p Jesteśmy inicjatywą stworzoną i prowadzoną przez 
                        a(href="http://www.warszawa.jug.pl") Warszawa JUG
                        | . .....tu coś więcej....
                .span6
                    h1 najbliższe spotkanie
                    h3 Spotkanie inauguracyjne
                    p Termin: 15.10.2013 godz. 18:00, Lokalizacja: MIMUW, Sponsor: brak