#about.section.background-about(scroll-spy, parallax="0.3", page='1')
    .centered.darkenBox
        .container
            .row.darkenBox
                .row
                    .span4
                        h1 czym jest Jinkubator?
                        p Są to cykliczne spotkania dla początkujących programistów Javy. Odbywają się one
                            b  w budynku Wydziału MIMUW na ulicy Banacha 2 w Warszawie, w godzinach 18:15-20:15.
                    .span4
                        h1 dla kogo?
                        p Dla wszystkich początkujących. W szczególności tych, którzy potrafią już napisać prostą aplikację w Javie, nie boją się pojęć polimorfizm i dziedziczenie, jednak nie znają technologii, bibliotek i okolic Javy. Dla wszystkich, którzy chcą tworzyć 
                          b dobry 
                          | kod.
                    .span4
                        h1 chcesz zostać prelegentem?
                        p To świetnie! Ciągle poszukujemy prelegentów na nadchodzące spotkania. Jeżeli czujesz się na siłach to  
                            a(href="#/prelegents") tutaj 
                            | są szczegóły. 
                .row
                    .span6
                        h1 kim jesteśmy
                        p Jesteśmy inicjatywą stworzoną i prowadzoną przez 
                            a(href="http://www.warszawa.jug.pl") Warszawa JUG
                            |  specjalnie dla osób, które nie zebrały jeszcze dużego doświadczenia w Javie, a chciałyby mieć łatwiejszy start na rynku pracy lub po prostu poznać aktualnie używane technologie w trochę szerszym kontekście. Jeżeli tylko spodobał Ci się temat najbliższego spotkania to zapraszamy!
                    .span6
                        h1 najbliższe spotkanie
                        h3 TBA
                        p Termin: 12.11.2013 godz. 18:15, Lokalizacja: s.5440 MIMUW, Sponsor: brak
             
            .row.fixedHeight
            .row.darkenBox      
                .row.otherLogos
                    .span4
                        h1 chcesz więcej?
                        .row
                            .span2
                                a(href='http://warszawa.jug.pl', target='_blank'): img(src='img/partners/wjug.png')
                    .span7
                        h1 nie tylko java?
                        .row
                            .span3
                                p Pywaw
                            .span3
                                p Scalania
                        .row
                            .span3
                                a(href='http://mobile-warsaw.pl', target='_blank'): img(src='img/partners/otherGroups/mobile_warsaw.png')
                            .span3
                                p Agile Warsaw
                .row.otherLogos
                    .span11
                        h1 nadchodzące konferencje i warsztaty
                        .row
                            .span3
                                a(href='http://v2.gitkata.pl', target='_blank'): img(src='img/partners/conferences/git_kata.png')#git_kata