#meetings.section.background-meetings(scroll-spy, page='1')
    .centered
        .container
            .row
                .span12
                    h1 spotkania
                    p Aby być na bieżąco, zasubskrybuj nasz
                        a(href='')  kalendarz - todo -kalendarz
                    h3 Przed nami:
                    p 15.10.2013 
                        a(href="#/meeting/1") Spotkanie inauguracyjne
                        |  - 
                        a(href="#/prelegents/ktos") Ktoś Ktosiński
                    //{next_meetings}
            .row
                .span12
                    h3 Za nami:
                    p Tu z czasem pojawią się spotkania, które już się odbyły