#meetings.section.background-meetings(scroll-spy, page='1')
    .centered
        .container
            .row
                .span12
                    h1 spotkania
                    p Aby być na bieżąco, zasubskrybuj
                        a(href='http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com')  kalendarz
                        |  (wspólny z warszawskim JUGiem).
                    h3 Przed nami:
                    p 29.11.2013 TBA
                        //a(href="#/meeting/2") 
            .row
                .span12
                    h3 Za nami:
                    p 29.10.2013 - 
                        a(href="#/meeting/1") 1. Łagodne wprowadzenie do Mavena
                        |  - 
                        a(href="#/prelegents/arkadiusz_konior") Arkadiusz Konior