#partners.section.background-partners(scroll-spy, page='1')
    .centered
        .container
            .row
                .span12
                    h1 Partnerzy grupy
            .row
                //naukowi
                .span5
                    p
                        img(src='img/partners/mimuw-logo.png', width=200)

                //licencje
                .span5