#sponsors.section.background-sponsors(scroll-spy, parallax="0.3", page='1')
    .centered
        .container
            .row
                .span12
                    h1 Sponsorzy
                    p coming soon...